/* General styles (apply to all devices) */
body {
    background-color: #00449e;
    background-image: url("../images/bkg.png");
    color: black;
}

body h1 {
    text-align: center;
    text-shadow: 2px 2px 4px #ffffff;
    text-decoration: wavy;
    font-size: x-large;
    color: orange;
}

#showWeather {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.weather-day {
    background-color: #3130308a;
    max-width: 130px;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    text-align: center;
}

.weather-day .day-color {
    font-size: 1.2rem;
    color: orange;
    margin: 0 0 10px 0;
}

.weather-day img {
    width: 50px;
    height: 40px;
}

.weather-day .temp {
    font-size: 1.1rem;
    margin: 5px 0;
    color: #f1f1f1;
}

#loading {
    margin-top: 20px;
    font-size: 1.0em;
    text-align: center;
    color: #f1f1f1;
}